html.overlay {
	height: 100%;
	/*width: 100%;*/
	margin: 0;
	background-color: #ecf0f1;
}

html.background {
	height: 100%;
	width: 100%;
	background: url(images/bg_img2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	overflow: hidden;
	height: 0;
}

#wrapper {
	width: 100%;
	height: 100%;
}

.tint {
	position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
    transition: all ease 4s;
    background-color: rgba(255, 255, 255, .4);
 }

.tint-remove {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -2;
	transition: all ease 4s;
	background-color: rgba(255, 255, 255, .0);
}

#header-home {
	position: absolute;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid rgba(236, 240, 241, 0.6);
	display: none;
	animation-duration: 2s;
  	animation-delay: .4s;
}

#header {
	position: absolute;
	height: 60px;
	width: 100%;
	border-bottom: 1px solid rgba(236, 240, 241, 0.6);
	display: block;
}

h1 {
	float: right;
	margin: 15px 30px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color:#222222;
	display: inline-block;
	z-index: 3;
	display: block;
	border-bottom: 1px solid #e81f64;
	padding-bottom: 2px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.right h2{
	font-size: 42px;
	font-family: 'Lato', sans-serif;
}

.right p{
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

.mouse-touch{
	display: block;
	position: absolute;
	list-style-type:none;
	left: 50%;
	margin-left: -85px;
	top: 50%;
	margin-top: -100px;
	height: 200px;
	width: 140px;
	z-index: -1;
}

.mouse-touch li{
	margin-bottom: 15px;
}

.mouse-touch img{
	border-radius: 100%; 
}

/*button li img:hover{
	border-radius: 100%;
	height: 105px;
	width: 105px;
}
*/

.mouse, .touch {
	background-color: rgba(0,0,0,0);
	border: none;
	/*border-radius: 100%; */
}

.visible {
	display: block;
}

#footer-home {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 35px;
	background-color: rgba(236, 240, 241, 0.6);
	margin-top: 15px;
	display: none;
	animation-duration: 2s;
    animation-delay: .4s;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 35px;
	background-color: rgba(236, 240, 241, 0.6);
	margin-top: 15px;
	display: block;
}

.social-icons {
	margin: 0 auto;
	width: 60px;
	list-style-type: none;
	padding-left: 0px;
	padding-top: 5px;
}

#twitter-icon { 
	position: relative;
	float: left; 
	padding: 0;
}

#medium-icon {
	position: relative;
	float: left;  
	margin-left: 10px;
	padding: 0;
}

.main-content {
	color: rgba(241, 196, 15,1.0);
	font-size: 42px;
	font-family: 'Maitree', serif;
	text-align: center;
}

span.portfolio-yellow {
	color: #e81f64;
}

.blurb{
	color: #222222;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	border: 1px double solid #FFF;
}

.blog{
	color: #FFF;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	border: 1px double solid #FFF;
}

.blog a {
	color: rgba(241, 196, 15,1.0);
}

.blog a:hover {
	color: rgba(241, 196, 15,.8);
}

.nav-button{
	list-style-type: none;
	width: 125px;
}

.circle-button-home{
	display: none;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	margin: 10px;
	background-color: #222222;
	border-color: #222222;
	transition: all .01s ease;
	color: #fff;
	line-height: 50px;
	text-align: center;
	padding:0px 0px 0px 0px;
}

/*Makes nav buttons visible on all the pages it should show up on*/
.circle-button{
	display: block;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	margin: 10px;
	background-color: #222222;
	border-color: #222222;
	transition: all .01s ease;
	color: #fff;
	line-height: 50px;
	text-align: center;
	padding:0px 0px 0px 0px;
}

#one {
	animation-duration: 2s;
	animation-delay: .1s;
}

#two {
	animation-duration: 2s;
	animation-delay: .2s;
}

#three {
	animation-duration: 2s;
	animation-delay: .3s;
}

#four {
	animation-duration: 2s;
	animation-delay: .4s;
}

.circle-button:hover {
	height: 55px;
	width: 55px;
	line-height: 55px;
	background-color: #111111;
	color:#fff;
	text-decoration: none;
}

.circle-button:visited {
	color: #fff;
	text-decoration: none;
}

.circle-active{
	display: block;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	margin: 10px;
	background-color: #444444;
	border-color: #444444;
	transition: all .01s ease;
	color: #fff;
	line-height: 50px;
	text-align: center;
	padding:0px 0px 0px 0px;
}

.circle-active:hover {
	height: 55px;
	width: 55px;
	line-height: 55px;
	background-color: #444444;
	color: #fff;
	text-decoration: none;
}

.circle-active:visited {
	color: #fff;
	text-decoration: none;
}

/*. centre and .nest vertically aligns button navigation that appears on the left of the screen*/
.centre {
    display: table;
    height: 100%;
    position: absolute;
    overflow: hidden;
    position: relative;
    top: -50%;
    margin: 0 auto;
}

.nest {
    position: absolute;
    top: 50%;
    display: table-cell;
    vertical-align: middle;
}

/*Main content which is hidden*/
.past-projects, .current-projects, .random {
	display: none;
	margin-top: 110px; 
}

.past-projects-no-margin, .current-projects-no-margin, .random-no-margin {
	display: none;
	margin-top: 0px;
}

.past-projects p, .current-projects p, .random p {
	margin-top: 10px; 
}

.past-projects h2, .past-projects-visible h2, .current-projects h2, .current-projects-visible h2, 
.random h2, .random-visible h2, .past-projects-no-margin h2, .current-projects-no-margin h2, 
.random-no-margin h2 {
	text-decoration: underline;
	/*-moz-text-decoration-color: #4555A5;  Code for Firefox */
    /*text-decoration-color: #4555A5;*/
}

.projects-mobile {
	position: absolute;
	display: none; 
	margin: 0 auto;
	text-align: center;
	margin-top: 110px;
	margin-bottom: 60px;
}

.projects-mobile h2 {
	font-size: 30px;
}

.projects-mobile p {
	font-size: 18px;
}

/*Makes the main content visible on their respective pages*/
.past-projects-visible, .current-projects-visible, .random-visible {
	display: block;
	margin-top: 110px;
	padding-right: 210px; 
}

.past-projects-visible a, .current-projects-visible a, .random-projects-visible a{
	color: #4555A5;  
}

#touch-text {
	display: none;
	position: relative;
	top: 110px;
	width: 315px;
	margin: 0 auto;
	animation-duration: 2s;
	animation-delay: .4s;
}

#mouse-text {
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -157.5px;
	top: 50%;
	margin-top: -51px;
	height: 102px;
	width: 315px;
	z-index: -1;
}

/****************
	Media queries
*****************/

@media only screen and (max-width: 767px) {
	#carousel-home {
		display: block;
		margin-bottom: 5px; 
	}

	.past-projects p, .current-projects p, .random p, .past-projects h2, .current-projects h2, .random h2 {
		padding-left: 40px; 
	}

	.nav-button {
		display: none;
	}
}

@media only screen and (max-width: 414px) {
	h1 { 
		font-size: 12px;
	}

	.past-projects h2, .current-projects h2, .random h2 {
		font-size: 24px; 
		padding-left: 60px;
	}

	.past-projects p, .current-projects p, .random p {
		font-size: 12px;
		padding-left: 60px;
	}	
}	

@media only screen and (max-height: 515px) {
	#carousel-example-generic {
		height: 250px;
		margin-top: -125px
	}
	.carousel-control {
		bottom: 90px;
	}
}
